.jumbotron {
    text-align: center;
    background-image: url("ishan-seefromthesky-eWSh-bkaKU8-unsplash.jpg") ;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

.btn {
  border: 1px solid blue;
  border-radius: 2px;
  
}

.col-sm-5{
  border: 4px solid black;
}

.col-sm-2{
  border: 4px solid black;
  background-color: lightcyan;
}

